.button {
    padding: 16px 32px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    font-weight: var(--fw-semibold);
    transition: all .2s ease-in;
}

.button-yellow {
    background-color: var(--color-yellow) !important;
    color: var(--color-off-white) !important;
}

.button-white {
    background-color: var(--color-off-white) !important;
    color: var(--color-yellow) !important;
}

.button i {
    display: inline-block;
    transform: translateZ(0);
    transition: transform .1s ease-in;
}

.button:hover i {
    transform: translateX(3px);
}
