.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.contact-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 600px;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-typing-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

@media (max-width: 992px) {
    .contact-content {
        gap: 32px;
    }
}

@media (max-width: 768px) {
    .contact-content {
        gap: 24px;
    }

    .contact-text {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .contact-typing-input-wrapper {
        flex-direction: column;
    }

    .contact-form button {
        justify-content: center;
        width: 100%;
    }
}
