.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 64px;
}

@media (max-width: 992px) {
    .container {
        padding: 48px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 32px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 24px;
    }
}

@media (max-width: 476px) {
    .container {
        padding: 8px;
    }
}



