h1, h2, h3, h4 {
    font-family: var(--solar-display);
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-extrabold);
}

h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-semibold);
}

h4 {
    font-size: var(--fs-h4);
    font-weight: var(--fw-medium);
}
