/* Titles */
@font-face {
    font-family: "Solar Display";
    src: url("../assets/fonts/ABCSolarDisplay-Extrabold-Trial.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Solar Display";
    src: url("../assets/fonts/ABCSolarDisplay-Bold-Trial.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Solar Display";
    src: url("../assets/fonts/ABCSolarDisplay-Semibold-Trial.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Solar Display";
    src: url("../assets/fonts/ABCSolarDisplay-Medium-Trial.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 500;
}

/* Paragraphs */
@font-face {
    font-family: "General Sans";
    src: url("../assets/fonts/GeneralSans-Semibold.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "General Sans";
    src: url("../assets/fonts/GeneralSans-Medium.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 500;
}
