/* Typing */
.form-typing-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-typing-input {
    border: 2px solid var(--color-yellow);
    padding: 16px 32px;
    border-radius: 24px;
    width: 352px;
    
    /* Height button */
    height: 56px;
}

.form-typing-input:focus {
    border-color: var(--color-yellow);
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

/* Selection */
.form-checkbox-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.form-checkbox-input {
    display: none;
} 

.form-checkbox-input-custom {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid var(--color-yellow);
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.form-checkbox-input-custom::after {
    content: "";
    position: absolute;
    left: 3.7px;
    top:0;
    width: 5px;
    height: 10px;
    border: 2px solid var(--color-off-white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

.form-checkbox-input:checked + .form-checkbox-input-custom::after {
    opacity: 1;
}

.form-checkbox-input:checked + .form-checkbox-input-custom {
    background-color: var(--color-yellow);
}

.form-checkbox-text {
    font-size: var(--fs-caption);
}
