/* Typing */
.form-typing-input-wrapper, .form-typing-input-text-area-wrapper  {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-typing-input-wrapper {
    width: 352px;
}

.form-typing-input-text-area-wrapper {
    width: 400px;
}

.form-typing-input, .form-typing-input-text-area {
    border: 2px solid var(--color-yellow);
    padding: 16px 32px;
    border-radius: 24px;
}

.form-typing-input {
    width: 100%;

    /* Height button */
    height: 48px;
}

.form-typing-input-text-area {
    width: 100%;

    /* Dubbele height button */
    height: 96px;
}

.form-typing-input:focus, .form-typing-input-text-area {
    border-color: var(--color-yellow);
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

/* Selection */
.form-checkbox-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    width: 504px;
}

.form-checkbox-input {
    display: none;
} 

.form-checkbox-input-custom {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid var(--color-yellow);
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.form-checkbox-input-custom::after {
    content: "";
    position: absolute;
    left: 3.7px;
    top:0;
    width: 5px;
    height: 10px;
    border: 2px solid var(--color-off-white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

.form-checkbox-input:checked + .form-checkbox-input-custom::after {
    opacity: 1;
}

.form-checkbox-input:checked + .form-checkbox-input-custom {
    background-color: var(--color-yellow);
}

.form-checkbox-text {
    font-size: var(--fs-caption);
}

@media (max-width: 992px) {
    .form-typing-input-wrapper {
        width: 320px;
    }
}

@media (max-width: 768px) {
    .form-typing-input-wrapper, .form-typing-input-text-area-wrapper, .form-checkbox-wrapper  {
        width: 100%;
    }
}

