* ,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    min-height: 100%;
    font-size: 100%;
    scroll-behavior: smooth;
    background-color: var(--color-off-white);
    font-family: var(--general-sans), "Helvetica Neue", Arial, sans-serif;
    font-weight: var(--fw-medium);
    font-size: var(--fs-regular);
    overflow-x: hidden;
    color: var(--color-off-black);
    line-height: 1.4;
}

