.header {
    margin-top: 64px;
}

.header-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0 !important;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 50%;
}

.header-visual {
    width: auto;
    height: 560px;
}

.header-visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-download {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.header-download {
    width: auto;
    height: 100%;
}

.header-stats {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 32px;
}

.header-stats div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

@media (max-width: 1200px) {
    .header-content {
        gap: 56px;
    }
}

@media (max-width: 992px) {
    .header-text {
        width: 600px;
    }

    .header-content {
        gap: 32px;
        flex-direction: column;
        align-items: center;
    }

    .header-text, .header-title {
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .header-text {
        width: 100%;
    }

    .header-content, .header-text, .header-stats {
        gap: 24px;
    }
}

@media (max-width: 576px) {
    .header-stats {
        flex-direction: column;
        align-items: center;
    }

    .header-stats div {
        align-items: center;
        width: 250px;
    }

    .header-visual {
        height: 400px;
    }
}



