.newsletter-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.newsletter-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
}

.newsletter-text h2 {
    padding-bottom: 8px;
}

.newsletter-form-top {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    width: fit-content;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.newsletter-visual {
    width: 50%;
    height: 560px;
}

.newsletter-visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
}

@media (max-width: 1200px) {
    .newsletter-visual {
        width: 40%;
    }

    .newsletter-text {
        width: 60%;
    }
}

@media (max-width: 992px) {
    .newsletter-content {
        justify-content: flex-start;
    }
    
    .newsletter-visual {
        display: none;
    }

    .newsletter-text {
        width: 600px;
    }
}

@media (max-width: 768px) {
    .newsletter-text {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .newsletter-form-top {
        flex-direction: column;
        width: 100%;
    }

    .newsletter-form-top div, .newsletter-form-top div:first-of-type input, .newsletter-form-top button {
        width: 100%;
    }

    .newsletter-form-top button {
        justify-content: center;
    }
}


