:root {
    /* Colors */
    --color-off-black: #060F12;
    --color-off-white: #FFFCFC;
    --color-yellow: #FFC233;
    --color-yellow-light: #FFD35C;
    --color-brown: #5E3020;

    /* Font families */
    --solar-display: "Solar Display";
    --general-sans: "General Sans";

    /* Font sizes */
    --fs-h1: 3.8125em;    /* 61px */
    --fs-h2: 3.0625em;    /* 49px */
    --fs-h3: 2.4375em;    /* 39px */
    --fs-h4: 1.9375em;    /* 31px */
    --fs-regular: 1em;     /* 16px */
    --fs-caption: 0.75em; /* 12px */

    /* Font weights */
    --fw-extrabold: 800;
    --fw-bold: 700;
    --fw-semibold: 600;
    --fw-medium: 500;
}