.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 64px;
}

@media (max-width: 992px) {
    .wrapper {
        padding: 64px 48px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 48px 32px;
    }
}

@media (max-width: 576px) {
    .wrapper {
        padding: 32px 24px;
    }
}

@media (max-width: 476px) {
    .wrapper {
        padding: 24px 8px;
    }
}



